* {
  margin: 0;
}

header,
aside,
footer {
  padding: 20px;
  text-align: center;
}
header h2,
footer h2 {
  line-height: 27px;
}
aside h2 {
  line-height: 400px;
}

.content {
  display: flex;
  height: 77vh;
}

header {
  background-color: aquamarine;
  margin-bottom: 10px;
}
.container {
  background-color: pink;
  padding: 20px;
}

aside {
  background-color: blue;
  width: 20%;
  min-height: 400px;
  margin-right: 20px;
}

article {
  background-color: aqua;
  min-height: 400px;
  width: 77%;
  position: relative;
  text-align: center;
  padding: 20px;
}
.content article h2 {
  line-height: 400px;
}

.content article .gambar {
  background-color: yellowgreen;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 30px;
  right: 30px;
  margin: auto;
}
.content article .gambar img {
  width: 20%;
  margin: 0px 50px 0px 50px;
}
footer {
  background-color: violet;
  margin-top: 10px;
}
